
<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/hp.jpg" alt="blog1">
            <h3>Overview</h3>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/foun.jpg" alt="blog1">
            <h3>Founder Message's</h3>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/mv.jpg" alt="post1">
            <h3>Mission,Vision & Values</h3>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/tec.jpg" alt="post2">
            <h3>Advance Technology</h3>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/fac.jpg" alt="post3">
            <h3>Infrastructure & Facilities</h3>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/ach.jpg" alt="post4">
            <h3>Achievements & Awards</h3>
            
          </div>
        </div>
      </div>
    </div>
  </section>



