
<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h2 class="title-heading">Latest Articles</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/eye.jpg" alt="blog1">
            <h3>What is an ophthalmologist?</h3>
            <p>by <span>Dr.Swapnil sir</span></p>
            <p>Ophthalmologists are doctors that specialize in the medical and surgical care of the eyes and visual system, and also in the prevention of eye disease and injury. They can be either doctors of medicine (MD) or doctors of osteopathy (DO). While medical doctors focus on disease-specific diagnosis and treatment, osteopaths concentrate on the loss of structure and function in different parts of the body caused by disease...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/heart.jpeg" alt="blog1">
            <h3>What is a cardiologist?</h3>
            <p>by <span>Dr.Kamlesh Verma</span></p>
            <p>A cardiologist is a doctor who’s an expert in heart and blood vessel diseases. They can treat heart diseases and help keep you from getting heart diseases.After completing four years of medical school, cardiologists spend three years learning general internal medicine as a resident, plus at least three more years of specialized training after that...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/head.jpeg" alt="post1">
            <h3>Difference between JavaScript and TypeScript</h3>
            <p>by <span>Dr.Harsh Choudhary</span></p>
            <p>What is JavaScript? JavaScript is an object-based scripting language. JavaScript is the most popular programming language of HTML. It helps you to create interactive web pages which is lightweight and cross-platform. JavaScript is not designed for..</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/kidney.jpeg" alt="post2">
            <h3>What is a nephrologist?</h3>
            <p>by <span>Dr.Waintain Wapy</span></p>
            <p>Nephrologists are medical professionals who diagnose, treat, and manage acute and chronic kidney problems and diseases. They also treat associated issues like high blood pressure, fluid retention, and electrolyte and mineral imbalances...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/backbone.jpeg" alt="post3">
            <h3>What can cause lower back pain?</h3>
            <p>by <span>Dr.Tolin Yoky</span></p>
            <p>Lower back pain is very common. It usually develops due to overuse or a minor injury, but sometimes there may be no obvious cause. Lower back pain can also be a symptom of an underlying medical condition should take imediate action...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/bone.jpeg" alt="post4">
            <h3>What is MERN Stack?</h3>
            <p>by <span>Dr.Kiran Mehta</span></p>
            <p>In the world of software development, MERN Stack is one of the most widely used technological stacks and a web development framework. we can create simple as well complex web applications using MERN (MongoDB, ExpressJS, ReactJS, and NodeJS)...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>


