<div class="container mt-5">
    <h2>Fix Appointment</h2>
    <!-- show error message -->
    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
       <!-- data inserted -->
      <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

  <form [formGroup]="userForm" >
    <div class="col-lg-4 mt-2">
        <input type="text"  class="form-control" formControlName="Dname" placeholder="Choose Doctor Name">
    </div>
      <div class="col-lg-4 mt-2">
        <input type="text"  class="form-control" formControlName="pname" placeholder="Choose Patient">
      </div>
      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" formControlName="Specialities" placeholder="Enter Qualification">
      </div>
      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" formControlName="Schedule" placeholder="Schedule Time ">
      </div>
      <div class="col-lg-4 mt-2">
        <input type="number" class="form-control" formControlName="Fees" placeholder="Fess ">
      </div>
      <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
          <button class="btn btn-primary btn-sm">Save</button> &nbsp;
      </div>
      
  </form>
  </div>
