<div class="container mt-5">
   <h3>Patient Details</h3>
    <!-- show massage -->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">pname</th>
            <th scope="col">Gender</th>
            <th scope="col">age</th>
            <th scope="col">symptoms</th>
            <th scope="col">Patient_History</th>
            <th scope="col">Phone_no</th>
            <th scope="col">Emergency_call</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let us of readData'>
            <th scope="row">{{us.patient_id}}</th>
            <td>{{us.pname}}</td>
            <td>{{us.Gender}}</td>
            <td>{{us.Qualification}}</td>
            <td>{{us.symptoms}}</td>
            <td>{{us.Patient_History}}</td>
            <td>{{us.Phone_no}}</td>
            <td>{{us.Emergency_call}}</td>
            <!-- <td>
              <button class="btn btn-sm btn-danger" (click)="deleteID(us.id)">Delete</button>
                &nbsp;
              
            </td> -->
          </tr>
          
        </tbody>
      </table>
      <button style="background-color: red;"><a href="read-app" style="text-decoration: none; color: black;">Read Appointments Data</a></button>
  
</div>

