
<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-left">
            <h1>About Us</h1>
           
            <div class="detail-img">
               <img src="assets/hosp1.jpg" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>Dayanand Hostipal Group has over two decades of experience in the healthcare sector, and is known for providing quality healthcare and valuable experience to all domestic and international patients. Our healthcare offerings are supported by a team of compassionate and dedicated medical professionals who have rich knowledge and experience in their respective domains.</p>
               
               
           <p>Dayanand Hospital, a healthcare landmark, has been a household name to more than 50 million Indians. We currently have branches in Indore and Bhopal.</p> 
            
            </div>
             <app-about-page></app-about-page>
             <router-outlet></router-outlet>
          </div>
        </div>
       
      </div>
    </div>
  </section>



