
<section class="blog-list mtb-40">
    <div class="container">
      <h1>Doctors List</h1>
      <div class="row">
          <div class="col-md-8">
            <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                    <div class="col-md-4">
                  <img src="assets/swapnil.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Dr.Swapnil Sir</h3>
                    <p>Qualification: MBBS</p>
                    <p>Specialization: Physicist</p>
                    <p>Phone: 9876473401</p>
                    </div> </div>
            </div>
              </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/doc1.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                  <h3>Dr.Kamlesh Verma</h3>
                  <p>Qualification: MBBS</p>
                  <p>Specialization: Physicist</p>
                  <p>Phone: 7830473401</p>
                  </div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/harsh.png" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Dr.Harsh Choudhary</h3>
                    <p>Qualification: MBBS</p>
                    <p>Specialization: Physicist</p>
                    <p>Phone: 8136473401</p>
            </div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/jon2.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Dr.Waintain Wapy</h3>
                    <p>Qualification: MBBS</p>
                    <p>Specialization: Physicist</p>
                    <p>Phone: 4796473401</p>
                    </div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/dan.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Dr.Kiran Mehta</h3>
                    <p>Qualification: MBBS</p>
                    <p>Specialization: Physicist</p>
                    <p>Phone: 9356473401</p>
            </div> </div>
                </div>
                  </div>     
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="assets/jon1.jpg" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Dr.Tolin Yoky</h3>
                    <p>Qualification: MBBS</p>
                    <p>Specialization: Physicist</p>
                    <p>Phone: 8712473401</p>
                    </div> </div>
                </div>
                  </div>
          </div>
       
      </div>
    </div>
  </section>


